@import 'bootstrap/dist/css/bootstrap.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-light-color: #a4ceff;
  --main-dark-color: #000011;
  --white-color: #fff;
  --second-color: #00a123;
  --third-color: #90fda0;
}

.app {
  width: 100%;
}

.switch {
  position: absolute;
  top: 25px;
  right: 50px;
  z-index: 10;
}

#dark {
  background: var(--main-dark-color);
  color: var(--white-color);
}

#light, #light .popup {
  background: var(--main-light-color);
  color: var(--main-dark-color);
}

#light .name, #light .social-links, #light .sub-info {
  color: var(--second-color);
}

#light .social-links:hover, #light .sub-info:hover {
  color: var(--main-dark-color);
}

#light .livedemo, #light .sourcelink:hover, #light .closebtn:hover {
  background: var(--second-color);
  color: var(--white-color);
}

#light .livedemo:hover, #light .sourcelink, #light .closebtn {
  background: none;
  border: 2px solid var(--second-color);
  color: var(--second-color);
}

#light form, #light form input, #light form textarea {
  background: var(--main-light-color);
  color: var(--main-dark-color);
}

#projects {
  margin-top: 50%;
}

@media (max-width: 768px) {
  .headline {
    font-size: 30px;
    width: 85% !important;
  }

  .title {
    font-size: 1.5rem;
  }

  .about {
    font-size: 15px;
    width: 85% !important;
  }

  .rec-img {
    width: 20%;
  }

  .carousel {
    margin-top: 150px;
  }

  .form {
    width: 100% !important;
  }

  .navbar, .home-svg, .sub-nav {
    display: none;
  }

  .home-container {
    padding: 40% 2% !important;
    display: flex;
    align-items: center;
  }

  .content {
    width: 100% !important;
  }
  .popup {
    height: 100%;
    padding-top: 20% !important;
    display: flex;
    align-items: center;
  }

  .closebtn {
    position: fixed;
    top: 130px !important;
  }

  .social-icons {
    margin-top: 40%;
  }

  #projects {
    margin-top: 0;
  }
}
